.App {
    text-align: center;
}

.content {
    margin: 5px;
}

.header {
    font-family: XP;
    white-space: pre-wrap;
}

.table-div {
    width: 100%;
}

.table-div table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #000000;
}

.table-div table th {
    border: 1px solid #000000;
    padding: 5px;
}

.table-div table td {
    border: 1px solid #000000;
    padding: 5px;
}

.sam-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.sam-div img {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}