.wobble {
    font-size: 1.5rem;
  }
  
@keyframes wobb {
    0%, 100%   {transform: translateY(0px)}
    25%  {transform: translateY(-3px)}
    75%  {transform: translateY(3px)}
}
  
.wobble span {
    animation-name: wobb;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 600ms;
    display: inline-block;
    transform: translateY(0px);
}